#navbar{
    flex-direction:column;
}


#logo{
    margin: 15px 25px;
}

#navbar ul li{
    font-size: 1rem;
}

#navbar ul li a{
    padding: 10px 4.7px;
}

.LoadMore{
    padding: 0px 30px 10px 0px;
    font-size: 1.2rem;
}

#navbar ul li a:hover{
    color: #ffffff;
    background-color: #000;
    text-decoration: none;
    transform: scale(1);
}

#home{
    height: 450px;
    padding: 7px 40px;

}

#home::before{
    height: 480;
}

#home h1{
    font-size:6rem;
    padding: 0px 15px;
}

#home h2{
    font-size:1.4rem;
}

#worldwide img{
    height: 55px;
    margin: 25px 0px;
}

#home p{
    font-size:0.97rem;

}

#portfolio{
    flex-direction: column;
}

#services{
    flex-direction: column;
}

#services .box{
    margin: 8px 4px;
}

#services .box img{
    height: 120px;
}

.h-primary{
    font-size: 2.0rem;
}

.h-secondary{
    font-size: 1.3rem;
}

#services p{
    font-size: 0.8rem;
}

#portfolio .pbox{
    margin: 8px 4px;
}

#portfolio .pbox img{
    height: 140px;
}

footer{
    padding: 15px 15px; 
    font-size: 0.72rem;
}

#twoservices{
    flex-direction: column;
}

#twoservices img{
    height: 70px;
    margin: 15px 0px 0px 0px;
}

.h-3{
    font-size: 3.5rem;
}

.txtarea .cent{
    font-size: 1.4rem;
}

.txtarea .abem{
    font-size: 1.1rem;
}

#about{
    height: 300px;
}

#about:before{
    height: 320px;
}

